#world-map-box {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 2rem;

  background-color: rgba(199, 198, 193, 0.1);
}

#world-map-contents {
  display: block;
}

#world-map-text-content {
  width: 70%;
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  word-break: keep-all;
  line-height: 1.8rem;
}

.tooltip {
  width: 300px;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;

  color: #3d0208;
  background-color: rgba(88, 4, 12, 0.2);
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  font-size: 1rem;
  line-height: 1.5rem;
  word-break: keep-all;
}

.worldmap-image img {
  margin: 0 auto;

  width: 90%;
  padding: 0.5rem;

  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}

.worldmap-image {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  justify-content: center;
  padding: 2rem;
}

.marker {
  width: 30px;
  height: 30px;
  position: absolute;

  color: #fff;

  background-color: #da232391;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 7px #b02b2b2e;
}

.marker:after {
  content: attr(data-countrycode);
  display: block;
  width: 100%;
  text-align: center;
  z-index: 100;

  font-size: 16px;
  line-height: 30px;

  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .world-map-text-content {
    width: 100%;
  }
  .worldmap-image img {
    height: 250px;
  }
}

/* 이스라엘 */
.marker1 {
  left: 53%;
  top: 55%;
}
/* 독일 */
.marker2 {
  left: 48%;
  top: 42%;
}
/* 러시아 */
.marker3 {
  left: 60%;
  top: 38%;
}
/* 한국 */
.marker4 {
  left: 65%;
  top: 48%;
}
/* 영국 */
.marker5 {
  left: 42%;
  top: 38%;
}
/* 브라질 */
.marker6 {
  left: 34%;
  top: 65%;
}
/* 일본 */
.marker7 {
  left: 72%;
  top: 48%;
}
/* 미국 */
.marker8 {
  left: 27%;
  top: 45%;
}
/* 캐나다 */
.marker9 {
  left: 23%;
  top: 36%;
}
/* 남아프리카공화국 */
.marker10 {
  left: 48%;
  top: 70%;
}
/* 인도 */
.marker11 {
  left: 60%;
  top: 56%;
}
