#background-box {
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 1;

  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #000;
}

#background-box::after {
  width: 100%;
  height: 100%;
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;

  background-image: url("imagefile");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  display: flex;
  position: relative;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  vertical-align: middle;

  color: #fff;
  font-size: 3.5rem;
  font-family: "ROKAFSansBold";
  word-break: keep-all;
}

.main-title::before,
.main-title::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: attr(data-text);
}
.main-title::before {
  color: #a70000;
  z-index: -1;
  animation: glitch01 2s ease infinite;
}
.main-title::after {
  color: #59b7d3;
  z-index: -2;
  animation: glitch02 2s ease infinite reverse;
}
@keyframes glitch01 {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-4px, 4px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -4px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}
@keyframes glitch02 {
  0% {
    transform: translate(-2px, 2px);
  }
  25% {
    transform: translate(-4px, 4px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(2px, -4px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}

#chevron-down {
  position: relative;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    top: -2px;
  }
  50% {
    top: 2px;
  }
  100% {
    top: -2px;
  }
}

#chevron-down {
  display: inline-block;
  margin-top: 7rem;
  z-index: 100;

  vertical-align: bottom;
  text-align: center;

  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
}
